@import url("./reset.css");
@import url("../components/input.css");
@import url("../components/button.css");
body {
  font-family: "Roboto Mono", monospace;
}
main {
  margin-top: 100px;
}
main h1 {
  text-align: center;
  cursor: pointer;
  color: rgb(39, 165, 11);
  font-size: 20px;
  font-weight: 700;
}
main form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  row-gap: 8px;
}

p {
  color: red;
  display: none;
  margin-top: -3px;
  font-size: 13px;
}

.right {
  float: right;
}
